body{
    background: black;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.body-color{
    color: #fff;
}

.social-media-link{
    font-size: 26px;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.social-media-link:hover{
    color: #fff;
}